@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  /* background: #dbbca5; */
  /* background: linear-gradient(45deg, #fadec7, rgb(231, 187, 155)); */
  background: radial-gradient(#fae7d7, #e9ccb4, rgb(209, 163, 130));
}

svg {
  width: 300px;
}

.form {
  padding: 30px 60px;
  min-width: 350px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

input {
  margin: 0 auto;
  letter-spacing: 1px;
  width: 80%;
  padding: 5px 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  outline: none;
}

input:first-child {
  margin-top: 15px;
}

#LeftEye,
#RightEye {
  /* transition: 0.2s ease-in; */
  /* transform: rotate(90deg) translate(-2px, -9px); */
  /* transform-origin: center; */
  /* animation: up 2s infinite; */
  /* transform: translate(-5px, -9px); */
  /* transform: translate(-8px, 6px); */
  /* transform: translate(10px, 5px); */
}

svg.up #LeftEye,
svg.up #RightEye {
  animation: up 3s infinite;
}

button {
  margin-top: 5px;
  color: white;
  /* color: #e9ccb4; */
  background-color: rgb(209, 163, 130);
  /* background-color: white; */
  outline: none;
  cursor: pointer;
  padding: 8px 15px;
  /* width: 80%; */
  border: none;
  /* border: 2px solid rgb(209, 163, 130); */
  transition: 0.2s ease-in;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.137);
}

button:hover {
  background-color: rgb(160, 118, 89);
}

#SmileLip {
  /* display: none; */
}

@keyframes up {
  0% {
    transform: translate(-5px, -9px);
  }

  50% {
    transform: translate(5px, -9px);
  }

  100% {
    transform: translate(-5px, -9px);
  }
}

#SmileLip {
  opacity: 0;
  transition: 0.2s ease-in;
}

.form.idle #LeftEye,
.form.idle #RightEye {
  animation: idling 4s infinite;
}

@keyframes idling {
  0% {
    transform: translate(-5px, 0px);
  }
  20% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 0px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-5px, 0px);
  }
}
